.dropdown-links {
  color: rgb(155, 155, 155);
  text-decoration: none;
  padding: 10px;

  /* overflow: hidden; */
  /* position: absolute; */
}
.drop-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  margin-top: 20px;
  width: 200px;
  position: absolute;
  z-index: 100;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .drop-ul {
    align-items: flex-start;
    width: 133px;
  }
}
