.client-gallery {
  margin-top: 100px;
}
.all-galleries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-link {
  width: 50vw;
}
.galleries-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
