.cora-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cora-container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 230px;
  padding: 5px;
}
.cora-text {
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 1.3;
  text-align: center;
  width: 70vw;
}
.cora-plain {
  display: flex;
  justify-content: center;
}
.cora-hero-div {
  margin: 10px 20px;
}
.cora-images {
  width: 300px;
  margin: 10px 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.685),
    0px 10px 20px rgba(0, 0, 0, 0.541);
}

.cora-hero {
  width: 70vw;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.685),
    0px 10px 20px rgba(0, 0, 0, 0.541);
}
@media (max-width: 700px) {
  .cora-text {
    width: 90vw;
  }
  .cora-hero {
    width: 90vw;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .cora-text {
    font-size: 15px;
    line-height: 1.1;
  }
}
