.edit-gal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(231, 231, 231);
}

.edit-boxes {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  background-color: rgb(214, 214, 214);
  border-bottom-style: solid;
  border-bottom-color: magenta;
}
.input-boxes {
  width: 100vw;
  height: 50px;
  color: rgb(82, 84, 95);
  font-size: large;
  padding: 30px;
}
