.about-main {
  background-color: transparent;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}
.about-family {
  font-size: 30px;
  background-color: white;
  width: 500px;
}

.about-top {
  width: 100vw;
  height: 200px;
  background-color: transparent;
  padding: 50px;
}
.family-shot {
  height: 100%;
  width: 100%;
}
.about-middle {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 300px;
  background-color: transparent;
  padding: 50px;
}
.about-bottom {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}
.about-gallery-1 {
  display: flex;
  margin-top: 500px;
  height: 500px;
  width: 300px;
  background-color: transparent;
  justify-content: space-around;
  background-color: rgb(184, 255, 231);
}
.about-very-bottom {
  background-color: cadetblue;
  height: 300px;
  width: 100vw;
}

.story {
  background-color: rgb(189, 82, 189);
}
.about-bottom {
  width: 100%;
  height: 200px;
  background-color: transparent;
  padding: 50px;
}
