.home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}
.personal-box {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 50%;
}
.main-box {
  display: flex;
  margin-bottom: 50px;
}
.home-gallery-link {
  display: flex;
  /* align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 300px; */
}
/* .main-box {
  display: flex;
  justify-content: center;
} */
.lightbox-image {
  padding: 30px;
  width: 100vw;
}
.gallery-1 {
  display: flex;
}
.gal-1-image {
  height: 200px;
  width: 300px;
}
