.footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  justify-content: space-evenly;
  padding: 20px;
}
.footer-line {
  height: 40px;
  background-color: black;
  width: 1px;
}
.footer-phone {
  font-size: 20px;
  margin-left: 10%;
}
.footer-email {
  font-size: 20px;
  margin-right: 10%;
}
