.personal-project {
  background-color: black;
}
.personal-splash {
  background-image: url("/Pool");
  width: 100vw;
}
.personal-main {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-grid-container {
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: auto auto auto;
}
.personal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  background-color: transparent;
  border-style: double;
  border-color: rgb(12, 41, 78);
  border-width: 7px;
  padding: 10px;
}
.personal-grid-item {
  widows: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1px;
  border-style: double;
  border-color: rgb(12, 41, 78);
  border-width: 7px;
  padding: 10px;
}
.personal-grid-image {
  width: 30vw;
}
.personal-hero {
  width: 80vw;
}
