.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

/* .header {
  background-color: #87aefc;
  display: flex;
  min-height: 80px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #8ffaf5;
}
.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-position: top;
  background-size: cover;
}
header {
  background-color: transparent;
  height: 50px;
  color: rgb(0, 0, 0);
  padding: 5px;
}

.logo {
  height: 50px;
  float: left;
}

header ul {
  padding: 15px;
}

header li {
  float: right;
  margin: 0 15px;
  font-size: 24px;
}
.links {
  float: right;
  margin: 0 15px;
  font-size: 24px;
  text-decoration: none;
}
.about-main {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}
.about-top {
  width: 100vw;
  height: 200px;
  background-color: transparent;
  padding: 50px;
}
.about-middle {
  width: 100vw;
  height: 300px;
  background-color: transparent;
  padding: 50px;
}
.about-bottom {
  width: 100%;
  height: 200px;
  background-color: transparent;
  padding: 50px;
}
.about-middle {
  display: flex;
  justify-content: space-around;
}
.about-family {
  font-size: 30px;
  background-color: white;
  width: 400px;
}

.about-bottom {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}
.about-gallery-1 {
  width: 300px;
  background-color: transparent;
  justify-content: space-around;
}
.family-shot {
  height: 100%;
  width: 100%;
}
.home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: violet;
  height: 100vh;
  width: 100vw;
}
.gallery-box {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  width: 50%;
}
.personal-box {
  background-color: rgb(172, 172, 100);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 50%;
}
.personal-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 47, 255);
  height: 100px;
  width: 50%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 500px;
}
.auth-container {
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  width: 900px;
  background-color: rgb(216, 216, 231);
  border-width: 5px;
  border-color: rgb(116, 116, 116);
  border-style: solid;
}
