.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

.form-text {
  text-align: center;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  padding: 30px;
  letter-spacing: 4px;
  line-height: 1.4;
}
.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
.client-page-img {
  height: 300px;
  width: 300px;
}

.auth-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  text-align: center;
  // border-radius: 30px;
  font-size: 20px;
  width: 40vw;
  background-color: rgb(253, 239, 239);
  border-width: 2px;
  border-color: rgb(212, 183, 151);
  border-style: solid;
  margin-bottom: 50px;
}
.input-container {
  padding: 5px;
}
.reg-button {
  width: 20vw;
  height: 20px;
  // border-radius: 30px;
  color: rgb(139, 23, 139);
  background-color: white;
}
@media (max-width: 890px) {
  .auth-container {
    width: 80vw;
  }
  .client-page-img {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 600px) {
  .client-page-img {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 500px) {
  .form-text {
    font-size: 15px;
  }
  .auth-container {
    height: 30vh;
  }
  .reg-button {
    width: 40vw;
  }
}
@media (max-width: 470px) {
  .circles {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .auth-container {
    height: 25vh;
  }
  .client-page-img {
    height: 200px;
    width: 200px;
  }
}
