.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  width: 100vw;
  background-color: rgb(255, 255, 255);
  /* margin-top: 450px; */
}

.form-text {
  text-align: center;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
}
.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
.client-page-img {
  height: 300px;
  width: 300px;
}

.auth-container {
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  width: 900px;
  background-color: rgb(253, 239, 239);
  border-width: 5px;
  border-color: rgb(212, 183, 151);
  border-style: solid;
}
.input-container {
  /* display: flex;
  background-color: blue; */
}
